<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="random" href="/random">
      <ion-icon aria-hidden="true" name="telescope-outline"></ion-icon>
      <ion-label>Random</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="year" href="/year">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Search Year</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/history">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
