<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Specific Year Trivia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Specific Year Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-padding">
    <ion-card-title>Enter the year of interest:</ion-card-title>
    <!-- <ion-card-subtitle>subtitle</ion-card-subtitle> -->
      <ion-card-content>
        <ion-input
        type="text"
        fill="solid"
        label="Year"
        labelPlacement="floating"
        helperText="Enter the searched year"
        errorText=""
        [(ngModel)]="year"
      ></ion-input>
      <ion-button (click)="searchYear()" expand="block">Search</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-padding" *ngIf="displayYear">
      <ion-card-title>Year {{ displayYear }}</ion-card-title>
      <!-- <ion-card-subtitle>subtitle</ion-card-subtitle>  -->
        <ion-card-content>
          {{ displayData }}
        </ion-card-content>
    </ion-card>
</ion-content>
